<!-- Footer -->
<footer class="page-footer font-small  pt-5">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <div class="container">
      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <div class="logo">
            <a routerLink="HomePageComponent"></a>
            <img src="assets/img/logo.png" alt="logo">
          </div>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="list-unstyled links">
            <li>
              <a routerLink="">Moving Machine</a>
            </li>
            <li>
              <mdb-icon fas icon="envelope"></mdb-icon>
              <a routerLink="">movingmachine@gmail.com</a>
            </li>
            <li>
              <mdb-icon fas icon="phone-square"></mdb-icon>
              <a routerLink=""> +880-1777777777</a>
            </li>
            <li>
              <!-- Form -->
              <!-- <form class="example" action="/action_page.php" style="max-width:300px">
                <button type="submit">
                  <i class="fa fa-search"></i>
                </button>
                <input type="text" placeholder="Search.." name="search2">
              </form> -->
              <!-- Form -->
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Links -->

          <ul class="list-unstyled links">
            <li>
              <!-- <a routerLink="">Home</a> -->
              <a href="https://mdbootstrap.com/docs/angular/css/hover-effects/">home</a>
            </li>
            <li>
              <a routerLink="">Categories</a>
            </li>
            <li>
              <a routerLink="">Enquiry Form</a>
            </li>
            <li>
              <a routerLink="">About</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->
    </div>


  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
