footer{
  padding: 30px 0;
  font-family: 'Open Sans', sans-serif;
  background-image:url('../../../assets/img/pattern.jpg');
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background: rgba(0,0,0,.7);
  }
  .logo{
    img{
      width: 100px;
    }
  }
  ul.links{
      li{
        margin-top: 10px;
        a{
        }
      }
  }
}


form.example input[type=text] {
  padding: 3px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 15%;
  padding: 3px;
  background: #FEC210;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #EE1D23;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
