<section class="about-page-section" style="background-image: url(assets/img/pattern2.png)">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="heading h3-responsive text-uppercase text-center">moving machines</h3>
        <p class="text-capitalize">frontrunners in the equpment of trading business</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="heading h3-responsive text-uppercase">moving machines</h3>
        <p class="text-capitalize">frontrunners in the equpment of trading business</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="heading h3-responsive text-uppercase">moving machines</h3>
        <p class="text-capitalize">frontrunners in the equpment of trading business</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <!-- End Carousel -->

  <!-- Start Content -->
  <div class="about-page-content py-5 container">
    <div class="title pb-3">
      <h3 class="h3-responsive heading text-capitalize">
        about us
      </h3>
    </div>
    <div class="sub-title mt-5">
      <h5 class="h5-responsive heading text-capitalize">
        mission
      </h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quod aspernatur vero porro, inventore expedita, eius
        eos necessitatibus, ut pariatur unde neque veniam sapiente? Voluptatem aliquid consequatur explicabo rerum. Accusamus
        minus iure laudantium delectus dolores eaque ad ullam illum ratione.</p>
    </div>
    <div class="sub-title mt-5">
      <h5 class="h5-responsive heading text-capitalize">
        overview
      </h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, possimus praesentium eum qui sed ex laudantium,
        cumque quidem aperiam, odit assumenda maiores! Sunt ducimus at, tempore unde numquam asperiores optio sed, nulla
        quam aliquam laboriosam totam facilis rem voluptate cupiditate molestiae neque fuga. Temporibus itaque nesciunt et
        soluta molestiae eaque autem quo, accusamus qui fuga iste quidem accusantium, non magnam?</p>
    </div>
    <div class="sub-title mt-5">
      <h5 class="h5-responsive heading text-capitalize">
        corporate social responsibilities
      </h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quae asperiores id ullam enim eius voluptates beatae,
        porro obcaecati eos, exercitationem modi deleniti. Illo optio ipsum cumque sed qui labore voluptatibus, animi quasi
        delectus ut! Quibusdam eum accusantium maiores in, expedita dolorum temporibus magni assumenda commodi modi totam
        rem beatae eius dolor praesentium illo odio cumque consequuntur voluptate saepe nisi excepturi architecto distinctio.
        Dolor earum omnis quaerat? Odio, commodi ut.</p>
    </div>


  </div>
</section>
