.about-page-section{
  // background-image:url('../assets/img/pattern2.png');
  .about-page-content{
    .title{
      h3{
        position: relative;
        display: inline;
        &:after{
          position: absolute;
      bottom: -4px;
      left: 0px;
      height: 2.5px;
      width: 130%;
      content: "";
      background: #FEC210;
        }
      }
    }
  }
}

