
.features-item{
  mdb-card.card{

    margin-top: -20px;
    z-index: 999;
    border-top: 1px solid #EE1D23;

    mdb-card-body.card-body{
  border-top: 2px solid #FEC210;
      position: relative;
      z-index: 9999;
      .feature-icon{
        img{
          height: 80px;
          width: 80px;
        }
      }
    }

  }

}

mdb-card:nth-child(odd) .card-body{
  border-top: 2px solid #EE1D23;

}
mdb-card:nth-child(even) .card-body{
  border-top: 2px solid #FEC210;

}
