<section class="product-details-section container my-4">
  <div class="product-details-header">
    <div class="row">
      <div class="col-md-8 col-12">
        <div class="row">
          <div class="col-md-4 product-manufacturer-logo text-center">
            <img src="assets/img/marinilogo.jpg" alt="logo">
          </div>
          <div class="col-md-8 px-3 pl-4 product-manufacturer-summary  d-flex align-items-end">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum soluta, dolorem quasi vel mollitia consequuntur
              facere sequi blanditiis doloribus tempora quod, recusandae deleniti nulla laborum.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
      </div>
      <div class="col-md-12 product-header-bottom mt-3 pb-2">
        <div class="row">
          <div class="col-6 product-Name d-flex align-items-end">
            <h5 class="heading h5-responsive text-uppercase">top tower 4000</h5>
          </div>
          <div class="col-6 d-flex flex-md-row justify-content-md-end	 enquire-btn-list ">
            <div class="">
              <button mdbBtn type="button" color="warning" size="sm" mdbWavesEffect>Enquiry</button>
            </div>
            <div class="">
              <button mdbBtn type="button" color="warning" size="sm" mdbWavesEffect>Add to Enquiry</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="product-details-body py-5">
    <div class="row">

      <div class="col-md-6 col-12 product-imgs">
        <div class="slider">
          <input type="radio" name="slide_switch" id="id1" />
          <label for="id1">
            <img src="assets/img/product/marini1.jpg" width="100" />
          </label>
          <img src="assets/img/product/marini1.jpg" />

          <!--Lets show the second image by default on page load-->
          <input type="radio" name="slide_switch" id="id2" checked="checked" />
          <label for="id2">
            <img src="assets/img/product/marini2.jpg" width="100" />
          </label>
          <img src="assets/img/product/marini2.jpg" />

          <input type="radio" name="slide_switch" id="id3" />
          <label for="id3">
            <img src="assets/img/product/marini3.jpg" width="100" />
          </label>
          <img src="assets/img/product/marini3.jpg" />

          <input type="radio" name="slide_switch" id="id4" />
          <label for="id4">
            <img src="assets/img/product/marini4.jpg" width="100" />
          </label>
          <img src="assets/img/product/marini4.jpg" />

        </div>
        <div class="prev-page-btn ">
          <button class="" mdbBtn type="button" color="danger" size='sm' mdbWavesEffect>
            <mdb-icon fas icon="chevron-circle-left" class="mr-1"></mdb-icon>Product
          </button>
        </div>

      </div>
      <div class="col-md-6 col-12 product-details">
        <div class="heading title">
          <h6 class="text-uppercase">specification</h6>
        </div>
        <div class="details-table">
          <table mdbTable>
            <thead>
              <tr>
                <!-- <th *ngFor="let head of headElements" scope="col">{{head}} </th> -->
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let el of elements">
                <th scope="row">{{el.title}}</th>
                <td>{{el.spec}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
