.product-categories-section{
  .section-header{
    h3{
      position: relative;
      display: inline;
      &:after{
        position: absolute;
        left: -6.3rem;
        top: 17px;
        content: "";
        height: 3px;
        background: #FEC210;
        width: 6rem;
      }
      &:before{
        position: absolute;
        right: -6.3rem;
        top: 17px;
        content: "";
        height: 3px;
        background: #FEC210;
        width: 6rem;
      }
    }

  }
  .product-list{
    .product-body{

      .product-name{
        font-size: 18px;
        color: #000000;
      }
    }
  }
}

