<section class="product-enquiry-section text-capitalize py-5" style="background-image: url(assets/img/pattern2.png)">

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="page-title mb-4 mt-3">
          <h4 class="h4-responsive heading">
            product enquiry
          </h4>
          <p>fill out the form below fields with *are required</p>
        </div>
        <div class="product-enquiry-form">
          <!-- Default form register -->
          <form [formGroup]="enquiryForm" (ngSubmit)="onSubmit()">
            <div class="check-box-title">
              <h6 class="heading h6-responsive">
                selected product
              </h6>
            </div>
            <div class="mb-4">
              <div *ngFor="let el of elements">
                <input class="styled-checkbox" id="{{el.title}}" type="checkbox" value="{{el.title}}">
                <label for="{{el.title}}">{{el.title}}</label>
                <!-- <label>
                  <input type="checkbox" value="{{el.title}}">{{el.title}}</label> -->
              </div>
            </div>

            <div class="form-group ">
              <label>Name *</label>
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
              />
              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Name is required</div>
              </div>
            </div>
            <div class="form-group">
              <label>Email *</label>
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>

            <div class="form-group">
              <label>Contact No.*</label>
              <input type="tel" formControlName="tel" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tel.errors }" />
              <div *ngIf="submitted && f.tel.errors" class="invalid-feedback">
                <div *ngIf="f.tel.errors.required">Contact No. is required</div>
                <div *ngIf="f.tel.errors.pattern">Contact must be a valid Contact No</div>
                <div *ngIf="f.tel.errors.minlength">Contact must be at least 11 characters</div>
              </div>
            </div>
            <div class="form-group">
              <label>Company</label>
              <input type="text" formControlName="lastName" class="form-control" />
            </div>
            <div class="form-group ">
              <label for="comment">Comment *</label>
              <textarea type="text" formControlName="comment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
              <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                <div *ngIf="f.comment.errors.required">Comment is required</div>
              </div>
            </div>
            <!-- <div class="form-group form-check">
              <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
              />
              <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
              <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
            </div> -->
            <div class="text-center">
              <button mdbBtn size="md" color="warning" mdbWavesEffect class="btn btn-primary mr-1">Sent
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </button>
            </div>
          </form>
          <!-- <form [formGroup]="validatingForm">
            <div class="check-box-title">
              <h6 class="heading h6-responsive">
                selected product
              </h6>
            </div>

            <mdb-checkbox [default]="true">Articulated Trucks</mdb-checkbox>

            <mdb-checkbox [default]="true">Asphalt Pavers</mdb-checkbox>

            <mdb-checkbox [default]="true">Backhoe Loaders</mdb-checkbox>

            <mdb-checkbox [default]="true">Draglines</mdb-checkbox>

            <mdb-checkbox [default]="true">Scraper</mdb-checkbox>

            <mdb-checkbox [default]="true">Loader</mdb-checkbox>

            <mdb-checkbox [default]="true">Power shovel</mdb-checkbox>

            <mdb-checkbox [default]="true">Bulldozer</mdb-checkbox>

            <mdb-checkbox [default]="true">Track skidder</mdb-checkbox>

            <mdb-checkbox [default]="true">Roadheader</mdb-checkbox>
            <div class="md-form">
              <input mdbInput mdbValidate type="text" id="form1" class="form-control" formControlName="required">
              <label for="form1">Name*</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Name Required</mdb-error>
            </div>
            <div class="md-form">
              <input mdbInput mdbValidate type="text" id="form2" class="form-control" formControlName="required">
              <label for="form2">Email*</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Email Required</mdb-error>
            </div>
            <div class="md-form">
              <input mdbInput mdbValidate type="text" id="form3" class="form-control" formControlName="required">
              <label for="form3">Contact No.*</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Contact No. Required</mdb-error>
            </div>
            <div class="md-form">
              <input mdbInput type="text" id="form4" class="form-control" formControlName="required">
              <label for="form4">Company</label>
            </div>
            <div class="md-form">
              <input mdbInput mdbValidate type="text" id="form5" class="form-control" formControlName="required">
              <label for="form5">Address*</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Address Required</mdb-error>
            </div>
            <div class="md-form">
              <input mdbInput mdbValidate type="text" id="form6" class="form-control" formControlName="required">
              <label for="form6">City & Postal Code*</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">City & Postal Code Required</mdb-error>
            </div>
            <div class="md-form">
              <textarea mdbValidate type="text" id="form7" class="md-textarea md-textarea-auto form-control" formControlName="required"
                mdbInput></textarea>
              <label for="form7">Message</label>
              <mdb-error *ngIf="input.invalid && (input.dirty || input.touched)">Message Required</mdb-error>
            </div>
            <button mdbBtn type="button" size="sm" color="warning" mdbWavesEffect>Right
              <mdb-icon fas icon="angle-right" class="ml-1"></mdb-icon>
            </button>
          </form> -->
        </div>
      </div>
      <!-- <mdb-card class="col-md-6 col-12 mx-auto">
          <mdb-card-body class=" px-md-4"> -->

      <!-- </mdb-card-body>
        </mdb-card> -->
    </div>


  </div>



</section>
